# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/

# Audio files (optional - nếu muốn upload audio lên git thì bỏ dòng này)
audio/
*.mp3

# Streamlit
.streamlit/

# IDE
.vscode/
.idea/
*.swp
